.sidebar {
    padding-top: 56px;
    display: flex;
    width: 14rem;
    min-width: 11rem;
    height: 100vh;
    min-height: 100vh;
}

.sidebar a {
    color: rgb(212, 212, 191);
}

.sidebar a:hover {
    color: rgb(255, 255, 255);
}

.sidebar ul {
    list-style: none;
}