.bg-container {
    background-image: url('bg-parking-ref.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    display: flex;
}

.card-header-gradient {
    
    color: black;
    /* para que el texto sea legible sobre el degradado */
}

h2.card-header {
    color: black;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}